.hero-section {
  background-image: url('../assets/background1.jpg'); /* Caminho da imagem de fundo */
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Define a altura da seção */
  opacity: 0; /* Começa invisível para o efeito de fade-in */
  animation: fadeIn 2s ease-in-out forwards; /* Animação de fade-in */
}

.hero-content {
  background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com transparência */
  padding: 40px;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
  max-width: 800px;
  width: 100%;
  transform: translateY(30px); /* Inicia mais abaixo para o efeito slide */
  opacity: 0;
  animation: slideUp 1s ease forwards 0.5s; /* Efeito de subir o texto */
}

.hero-content h1 {
  color: #2e7d32;
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  color: #555;
  font-size: 18px;
  line-height: 1.6;
}

/* Animação para o fundo da seção */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Animação para o texto (subindo e aparecendo) */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
