.navbar {
  display: flex;
  align-items: center;
  padding: 5px 15px; /* Reduzindo a altura da navbar */
  background: linear-gradient(90deg, #317534, #1b5e20); /* Degradê do verde claro para o verde mais escuro */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 100px; /* Reduzindo o tamanho da logo */
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 10px; /* Ajustando o espaçamento entre links */
}

.nav-links button {
  background-color: transparent;
  border: none; /* Removendo a borda dos botões de navegação */
  color: white;
  font-size: 15px; /* Ajustando o tamanho do texto para navbar mais compacta */
  padding: 6px 12px; /* Reduzindo o padding dos botões */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease;
  border-radius: 20px;
}

.nav-links button:hover {
  background-color: white; /* Fundo branco ao passar o mouse */
  color: #2e7d32; /* Texto verde ao passar o mouse */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

.nav-links button:focus {
  outline: none;
}

/* Botão de Perfil Circular Posicionado à Direita */
.profile-container {
  margin-left: auto; /* Empurra o botão de perfil para o lado direito */
}

.profile-button {
  width: 50px; /* Ajustando o tamanho do botão de perfil */
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #2e7d32;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  font-size: 20px; /* Ajustando o tamanho das iniciais */
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.profile-button:hover {
  background-color: white;
  color: #2e7d32;
  border-color: #2e7d32;
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse no botão de perfil */
}

.profile-button:hover .profile-initials {
  color: #2e7d32; /* Cor verde para as iniciais no hover */
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-initials {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
