.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #2e7d32;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .nav-links button:hover {
    text-decoration: underline;
  }
  
  .logo img {
    width: 100px;
  }
  